[submodule "third_party/clap"]
	path = third_party/clap
	url = https://github.com/free-audio/clap
[submodule "third_party/midifile"]
	path = third_party/midifile
	url = https://github.com/craigsapp/midifile
